.Switch-SelectSwitch-Container {
  display: flex;
  justify-content: center!important;
  align-items: center;
  flex-flow: row nowrap;
  gap: 8rem;
}

.Switch-Console-Container {
  width: 38%;
  text-align: center;
}

.Switch-Console-Img {
  width: 18rem;
}

.Switch-Color-Container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Switch-Icons-Container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 50%!important;
  flex-flow: row wrap!important;
}

.Switch-Icon-Button {
  width: 6.1rem!important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0!important;

}

.Switch-Icon {
  height: 5rem;
  width: 6rem !important;
  padding: 0!important;
}

.Switch-Icon-Selected {
  border-style: solid;
  border-color: green;
  border-width: 6px;
}

.Switch-Interact-Container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  min-height: 12rem;
}

.Switch-Games-Container {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  gap: 1.4rem;
}

.Switch-PlayGame-Button {
  padding: 0.3rem 3rem 0.3rem 3rem;
  background-color: var(--switch-color);
  font-weight: 700;
  border-radius: 8px;
}