:root {
  --switch-color: red;
}

.App-Section-Break {
  margin-top: 2.5rem
}

.App-Section-Break-Large {
  margin-top: 4.5rem
}

.App-Default-Button {
  color: rgb(145, 145, 248);
  border-color: rgb(206, 206, 251);
  background-color: transparent;
  border-radius: 8px;
  border-width: 4px;
  font-weight: 600;
  padding: 0.3rem 2rem 0.3rem 2rem;
}